@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header__block{
  max-width: 1920px;
  height: 1030px;
  background: url('../images/fon.png') no-repeat;
}

.navigation__block{
  display: flex;
}

.logo {
	padding-left: 258px;
	padding-top: 6px;
}

.menu {
	margin-left: 379px;
	margin-top: 15px;
}

.menu ul {
	font-family: sans-serif, 'Mont';
	display: flex;
	gap: 60px;
	list-style: none;
	font-size: 18px;
}

.menu li {
	text-decoration: none;
}

.menu__a {
  font-family: "Montserrat Alternates", serif;
  color: #000;
	text-decoration: none;
  font-weight: 600;
}

.menu__a:hover{
  color: #96C12A;
}

.menu__b {
  color: #96C12A;
	text-decoration: none;
  font-weight: 600;
}

.contact{
  display: flex;
  gap: 20px;
  padding-left: 102px;
  padding-top: 5px;
}

.contact img{
  width: 28px;
  height: 28px;
  padding-top: 22px;
}

.contact p{
  font-family: "Montserrat Alternates", serif;
  font-weight: 600;
  font-size: 24px;
}


.header__section{
  display: flex;
  justify-content: space-around;
}

.header__section-left h1{
  font-family: "Montserrat Alternates", serif;
  font-size: 35px;
  margin-left: 264px;
  margin-top: 158px;
}

.header__section-left h2 {
  font-family: "Montserrat Alternates", serif;
  margin-left: 264px; 
  font-size: 18px ;
}

.btn__h{
  width: 252px;
  height: 64px;
  border-radius: 50px;
  margin-left: 265px;
  margin-top: 25px;
  background-color: #63850E;
  border: none;
}

.btn__h a{
  font-family: "Montserrat Alternates", serif;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.btn__h a:hover{
  color:#000;
}

.section-cal__img{
  position: absolute;
  margin-top: 10px;
  margin-left: 625px;
}

.section-cal__tel{
  position: absolute;
  margin-left: -370px;
  margin-top: 700px;
}

.header__bl-img{
  margin-top: -220px;
  margin-left: 202px;
}
